<% if current_user.favorites.find_by(chatroom_id: chatroom.id) %>
  <%= link_to 'お気に入りを取り消す', unfavorite_path(chatroom.id), method: :delete, remote: true %> 
<% else %>
  <%= link_to 'お気に入り', favorite_path(chatroom.id), method: :post, remote: true %>
<% end %>
