<h2 id="コンパイル面のシステム用フォルダです"><a name="コンパイル面のシステム用フォルダです" href="#コンパイル面のシステム用フォルダです"></a>コンパイル面のシステム用フォルダです</h2>
<h3 id="現在の環境"><a name="現在の環境" href="#現在の環境"></a>現在の環境</h3>
<ul>
<li>scss—&gt;css<ul>
<li>windows : 可能</li><li>mac : 可能</li></ul>
</li><li>jade—&gt;html<ul>
<li>windows : 可能</li><li>mac : 可能</li></ul>
</li><li>coffee-&gt;javascript<ul>
<li>windows : 可能</li><li>mac : 可能</li></ul>
</li></ul>
<h2 id="簡易説明"><a name="簡易説明" href="#簡易説明"></a>簡易説明</h2>
<h3 id="scss→css"><a name="scss→css" href="#scss→css"></a>SCSS→CSS</h3>
<p>../src/scss 下のscssファイルが ../src/css 下にコンパイルされてcssになる</p>
<h3 id="jade→html"><a name="jade→html" href="#jade→html"></a>JADE→HTML</h3>
<p>../src/jade 下のjadeファイルが ../src/html 下にコンパイルされてhtmlになる</p>
<h3 id="coffeescript→javascript"><a name="coffeescript→javascript" href="#coffeescript→javascript"></a>CoffeeScript→JavaScript</h3>
<p>../src/coffee 下のcoffeescriptファイルが ../src/js 下にコンパイルされてjavascriptになる</p>
<h2 id="自動コンパイル環境の起動"><a name="自動コンパイル環境の起動" href="#自動コンパイル環境の起動"></a>自動コンパイル環境の起動</h2>
<p><a href="#scss→cssのみの場合">scss—&gt;cssのみはこちら</a></p>
<h2 id="windowの場合"><a name="windowの場合" href="#windowの場合"></a>windowの場合</h2>
<ol>
<li>rubyのインストール(aki:ruby 2.0.0p648)<br><a href="http://www.buildinsider.net/language/rubytips/0004" target="__blank">Rubyをインストール／アップデートするには？</a><br>バージョンは用相談。</li><li>sass,compassのインストール<br><a href="https://wp-d.org/2013/01/03/1732/" target="__blank">Sass + Compass の基本導入と設定</a><br>※インストールまでで良い</li><li>nodeのインストール(aki:node v6.9.1)<br><a href="https://nodejs.org/ja/" target="__blank">Node.js公式</a><br>バージョンは用相談。</li><li>Gruntのインストール<pre><code class="bash:grunt.bush">sudo npm install -g grunt-cli
</code></pre>
</li><li>同フォルダのgrstart.batを起動</li></ol>
<h2 id="macの場合"><a name="macの場合" href="#macの場合"></a>macの場合</h2>
<ol>
<li>rubyのインストール(aki:ruby 2.0.0p648)<br>pipとかbrewとか好きな方法でお願いします</li><li>sass,compassのインストール<br><a href="https://wp-d.org/2013/01/03/1732/" target="__blank">Sass + Compass の基本導入と設定</a><br>※インストールまでで良い</li><li>nodeのインストール(aki:node v6.9.1)<br><a href="https://nodejs.org/ja/" target="__blank">Node.js公式</a><br>バージョンは用相談。</li><li>Gruntのインストール<pre><code class="bash:grunt.bush">sudo npm install -g grunt-cli
</code></pre>
</li><li>同フォルダのgrstart.commandを起動</li></ol>
<h3 id="scss→cssのみの場合"><a name="scss→cssのみの場合" href="#scss→cssのみの場合"></a>SCSS→CSSのみの場合</h3>
<ol>
<li>ruby,sass,compassを上記手順各1. 2.よりインストール</li><li><ul>
<li>windows: 同フォルダのstart.batを起動</li><li>mac: 同フォルダのstart.commandを起動</li></ul>
</li></ol>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>
<div>　</div>